{% extends 'base.html.twig' %}

{% block title %}{{ program.title }}{% endblock %}

{% block body %}
    <div class="bg-white p-3">
        <h1>{{ program.title }}</h1>

        <table class="table">
            <tbody>
                <tr>
                    <th>Titre</th>
                    <td>{{ program.title }}</td>
                </tr>
                <tr>
                    <th>Catégorie</th>
                    <td>{{ program.category.name }}</td>
                </tr>
                <tr>
                    <th>Sommaire</th>
                    <td>{{ program.summary }}</td>
                </tr>
                <tr>
                    <th>Affiche</th>
                    <img src="{{program.poster}}" alt="{{ program.title }} poster">
                </tr>
            </tbody>
        </table>
        <div>
            <strong>Acteurs :</strong>
            <ul>
                {% for actor in program.actors %}
                    <li><a href="{{ path('actor_show',{'slug':actor.slug}) }}">{{ actor.name }}</a></li>
                {% else %}
                    <li>Aucun acteur pour cette série</li>
                {% endfor %}
            </ul>
        </div>
        <div>
            {% for season in season %}
                <div>
                    <h4><a class="btn btn-secondary" href="{{ path('wild_season',{'id':season.id}) }}">Saison {{season.id}} de {{program.title }}</a></h4>
                    <p>{{ season.description }}</p>
                </div>
            {% endfor %}
        </div>


        <a class="btn btn-success m-3" href="{{ path('program_index') }}">Retour à la liste</a>

        <a class="btn btn-success m-3" href="{{ path('program_edit', {'slug': program.slug}) }}">Modifier</a>

        {{ include('program/_delete_form.html.twig') }}
    </div>
{% endblock %}
