{% extends 'base.html.twig' %}
{% block title %}Episodes{% endblock %}

{% block body %}

        <div>
            <h2>Episode {{ episode.number }}: {{ episode.title }}</h2>
            <h4>{{ program.title }} - Saison {{ season.id }}</h4>
            <p>Synopsis:<br>{{ episode.synopsis }}</p>
        </div>

{% endblock %}