{% extends 'base.html.twig' %}
{% block title %}Episode {{ episode.number }} - {{ episode.title }}{% endblock %}

{% block body %}

    <div class="bg-white">
        <h2>{{ program.title }} - Saison {{ season.id }}</h2>
        <h4>Episode {{ episode.number }}: {{ episode.title }}</h4>
        <p>Synopsis:<br>{{ episode.synopsis }}</p>
    </div>

{% endblock %}
