{% extends 'base.html.twig' %}

{% block title %}Saison {{seasons.id}} - {{program.title }}{% endblock %}

{% block body %}

    <div>
            <h2>SAISON {{seasons.id}} de {{program.title }}</h2>
            <p>{{ seasons.description }}</p>
    </div>
    <div>
        <h3>Liste des épisodes</h3>
            {% for episode in episodes %}
                <a href="{{ path('episode_show',{'slug':episode.slug}) }}">Episode {{ episode.number }} : {{ episode.title }}</a><br>
            {% endfor %}
    </div>

{% endblock %}
