{% extends 'base.html.twig' %}

{% block title %}{{ actor.name }}{% endblock %}

{% block body %}
    <div class="bg-white p-3">
        <h1>{{ actor.name }}</h1>

        <table class="table">
            <tbody>
            <tr>
                <th>Nom</th>
                <td>{{ actor.name }}</td>
            </tr>
            </tbody>
        </table>
        <div>
            <strong>Séries :</strong>
            <ul>
                {% for program in actor.programs %}
                    <li><a href="{{ path('program_show',{'slug':program.slug}) }}">{{ program.title }}</a></li>
                {% endfor %}
            </ul>
        </div>

        <a class="btn btn-success m-3" href="{{ path('actor_index') }}">Retour à la liste</a>

        <a class="btn btn-success m-3" href="{{ path('actor_edit',{'slug': actor.slug}) }}">Modifier</a>

        {{ include('actor/_delete_form.html.twig') }}
    </div>
{% endblock %}

