{% extends 'base.html.twig' %}

{% block title %}{{ actor.name }}{% endblock %}

{% block body %}
    <h1>{{ actor.name }}</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>Nom</th>
            <td>{{ actor.name }}</td>
        </tr>
        </tbody>
    </table>
    <div>
        <strong>Séries :</strong>
        <ul>
            {% for program in program.actors %}
                <li><a href="{{ path('wild_actor',{'id':program.id}) }}" >{{ program.title }}</a></li>
            {% endfor %}
        </ul>
    </div>

    <a href="{{ path('actor_index') }}">Retour à la liste</a>

    <a href="{{ path('actor_edit', {'slug': actor.slug}) }}">Modifier</a>

    {{ include('actor/_delete_form.html.twig') }}
{% endblock %}

